pytest
yagmai
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
python-dotenv
mysql-connector-python
#apt-get update && apt-get install -y libx11-6 libxext-dev libxrender-dev libxinerama-dev libxi-dev libxrandr-dev libxcursor-dev libxtst-dev tk-dev && rm -rf /var/lib/apt/lists/*